

/* Scritta Nascosta */
.scritta-nascosta {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.scritta-nascosta.visibile {
  opacity: 1;
  transform: translateY(0);
}

/* Course item hover effect */
.course-item {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.course-item:hover {
  background-color: #f4f0fa;
  transform: translateX(5px);
}

#prenotime-widget iframe {
  width: 85vw !important;
}

@media (max-width: 576px) {
  #prenotime-widget iframe {
    width: 80vw !important;
  }
}